.App {
  text-align: center;
  padding: 8px;
}

.navbarStyle {
  padding: .5rem 1rem !important;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.profileContent {
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.nav-links {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.nav-link {
  padding: 8px 16px;
  margin: 0 10px;
  text-decoration: none;
  color: #0078d4;
  font-weight: 500;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.nav-link:hover {
  background-color: #f0f0f0;
  text-decoration: none;
  color: #106ebe;
}